@import "tailwindcss";

html,body{
    background-color: #000000;
    color: white;
    font-family: 'Open-Sans', sans-serif;
}
h1{ @apply text-3xl font-bold mb-4;}
p{ @apply mb-4;}
ul{ @apply list-disc list-inside;}
strong{ @apply font-bold text-indigo-400 text-xl;}

.chat-messages{
    @apply flex flex-col h-full overflow-x-auto mb-4 overflow-scroll;
}

.fade-in{animation: fadeIn .3s;}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}